BasedOnStyle: LLVM
IndentWidth: 4
ContinuationIndentWidth: 8
ColumnLimit: 120
UseTab: Never
DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Left
AccessModifierOffset: -4
IndentCaseLabels: true
IndentCaseBlocks: true
SortIncludes: false
IncludeBlocks: Preserve
IncludeCategories:
  - Regex: '^<Qt[^>]*>'
    Priority: 1
  - Regex: '^"(src|core|ui|app)/'
    Priority: 2
  - Regex: '^".*"'
    Priority: 3
  - Regex: '^<.*>'
    Priority: 4
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: Never
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: true
SpacesInParentheses: false
Cpp11BracedListStyle: true
AlignTrailingComments: true
NamespaceIndentation: None
FixNamespaceComments: true
ReflowComments: false
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
BinPackArguments: false
BinPackParameters: false
